
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.hero {
    padding: 40px;
    animation: fade 2s ease-in-out;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 8px;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
